@charset "utf-8";
/* CSS Document */
html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #6d6d6f;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    background: url("../images/allb.jpg") repeat-x #FFFFFF;
}

form,p,ul,li,table,input,h1,h2,h3,h4,div,td,tr {
    margin: 0;
    padding: 0;
    list-style: none outside;
}

img {
    border: none;
    margin: 0;
    padding: 0;
}

.left {
    float: left
}

.right {
    float: right
}

.both {
    margin: 0;
    padding: 0;
    clear: both;
    font-size: 0;
    line-height: 0;
}
/*全局定义*/
a {
    color: #6d6d6f;
    text-decoration: none
}

a:hover {
    color: #065f95;
    text-decoration: underline;
}

a.wen1 {
    color: #065f95;
    text-decoration: none
}

a.wen1:hover {
    color: #e98d2a;
    text-decoration: underline;
}

a.wen2 {
    color: #939393;
    text-decoration: none
}

a.wen2:hover {
    color: #065f95;
    text-decoration: underline
}

a.wen22 {
    color: #065f95;
    text-decoration: none;
    font-weight: bold;
    line-height: 40px
}

a.wen22:hover {
    color: #e98d2a;
    text-decoration: underline;
    font-weight: bold;
    line-height: 40px
}

.wen33 {
    line-height: 18px
}

.wz004 {
    color: #939393;
}

.wz004 a {
    color: #939393;
    text-decoration: none
}

.wz004 a:hover {
    color: #939393;
    text-decoration: underline
}

.top {
    width: 1002px;
    margin: auto;
    height: 98px;
    background: #6CA6CD;
}

.menu {
    width: 1002px;
    margin: auto;
    height: 41px;
    line-height: 41px;
}

.menu1 {
    height: 41px;
    line-height: 41px;
    font-size: 14px;
}

#nav {
    height: 41px;
    position: relative;
    z-index: 9;
    margin: 0 auto;
}

#nav a, #nav a:link {
    color: #6d6d6f;
    display: block;
}

#nav a:hover {
    color: #065f95;
    text-decoration: none;
}

#nav ul li {
    float: left;
    text-align: left;
    line-height: 41px;
    position: relative;
    height: 41px;
    font-size: 15px;
    font-weight: bold;
    margin: 0 20px;
}

#nav ul li ul {
    position: absolute;
    top: 41px;
    left: 0;
    display: none;
    z-index: 9;
    background: url('../images/lili.jpg');
    width: 110px;
}

#nav ul li ul li {
    line-height: 24px;
    height: 24px;
    background: none;
    font-weight: 100;
    font-size: 13px;
    text-indent: 1.6em;
    width: 110px;
    margin: 0;
}
#nav ul li ul a:hover {
    color: #065f95;
    background: url('../images/lili2.jpg');
}
#nav ul li ul li ul {
    top: 0;
    left: 150px;
    width: 180px;
}
.w150 {
    width: 150px;
}
.w170 {
    width: 180px;
}

.yu {
    width: 139px;
    height: 21px;
    background: #FFFFFF;
    border: 1px #c6c6c6 solid;
    line-height: 21px;
    float: right;
    text-align: center
}

.toplan {
    width: 1002px;
    background: #6CA6CD;
    margin: auto;
    height: 34px
}

.banner {
    width: 1002px;
    margin: auto
}

.zhongc {
    width: 1006px;
    margin: auto;
    margin-top: 12px
}

.zhongcli {
    width: 196px;
    height: 167px;
    border: 1px #cfd8e1 solid
}

.zhongxia {
    width: 1002px;
    margin: auto;
    margin-top: 12px;
}

.zhongxialeft {
    width: 307px;
    float: left;
}

.zhongxialeftdao {
    width: 307px;
    float: left;
    border-bottom: 3px #99D4E2 solid;
    height: 30px;
    line-height: 30px
}

.zxnei {
    width: 307px;
    margin-top: 11px;
    float: left;
    line-height: 24px
}

.querysel {
    width: 210px
}

.z_z {
    width: 307px;
    float: left;
    margin-left: 40px;
    display: inline
}

.z_zdao {
    width: 307px;
    float: left;
    border-bottom: 3px #99D4E2 solid;
    height: 30px;
    line-height: 30px
}

.z_zimg {
    width: 307px;
    margin-top: 11px;
    float: left
}

.z_znews {
    width: 307px;
    float: left;
    margin-top: 8px
}

.z_znews ul {
}

.z_znews ul li {
    line-height: 21px;
}

.tim {
    font-size: 10px;
    color: #e98d2a
}

.z_rig {
    width: 307px;
    float: right
}

.z_rigdao {
    width: 307px;
    float: left;
    height: 30px;
    line-height: 30px;
    border-bottom: 3px #99D4E2 solid;
}

.z_rigimg {
    width: 307px;
    float: left;
    margin-top: 11px;
}

.z_rignei {
    width: 307px;
    float: left
}

.z_rignei ul {
}

.z_rignei ul li {
    float: left
}

.down {
    width: 1002px;
    margin: auto;
    border: 1px #CFD8E1 solid;
    border-left: 0;
    border-right: 0;
    height: 29px;
    line-height: 29px;
    margin-top: 12px;
    color: #939393
}

.down2 {
    width: 1002px;
    margin: auto;
    margin-top: 11px;
    padding-bottom: 15px;
    color: #939393
}

.aboutz {
    width: 1002px;
    margin: auto;
    margin-top: 12px;
}

.aboutzleft {
    width: 220px;
    float: left
}

.aboutzleftdao {
    width: 220px;
    float: left;
    line-height: 30px;
    border-bottom: 3px #99D4E2 solid;
    font-size: 14px;
    font-weight: bold;
}

.wen3 {
    font-size: 11px;
    color: #999999;
    font-weight: 100
}

.aboutzleftmeun {
    margin-top: 12px;
    float: left;
    width: 220px;
}

.aboutzleftmeun ul {
}

.aboutzleftmeun ul li {
}

.aboutzleftmeun ul li a {
    float: left;
    width: 190px;
    height: 36px;
    background: url("../images/meunout.jpg") no-repeat;
    line-height: 36px;
    padding-left: 30px;
    margin-bottom: 1px
}

.aboutzleftmeun ul li a:hover {
    float: left;
    background: url("../images/meunon.jpg") no-repeat;
    width: 190px;
    height: 36px;
    line-height: 36px;
    padding-left: 30px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none
}


.aboutzleftmeun ul li ul {
    display:block;
    top:0;
    left:0;
    width:220px;
}

.aboutzleftmeun ul li ul li a {
    display:block;
    background: url(../images/lili3.jpg) no-repeat;
    color:#6d6d6f;
    height:24px;
    line-height:24px;
    font-weight:100;
}

.aboutzleftmeun ul li ul li a:hover {
    background: url(../images/lili4.jpg) no-repeat;
    color:#065f95;
    height:24px;
    line-height:24px;
    font-weight:100;
}

.aboutrig {
    width: 760px;
    float: right
}

.aboutrigdao {
    width: 760px;
    float: left;
    height: 20px;
    line-height: 30px;
    height: 30px
}

.aboutrignei {
    width: 760px;
    line-height: 26px;
    margin-top: 12px;
    float: left;
    padding-bottom: 30px
}

.wen4 {
    font-size: 14px;
    color: #f47900;
    font-weight: bold;
}

.newsbo {
    width: 760px;
    line-height: 36px;
    float: left
}

.newsbo ul {
    line-height: 26px;
    height: 26px;
    width: 760px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 1px #ccc dotted
}

.newsbo ul:hover {
    line-height: 26px;
    height: 26px;
    width: 760px;
    background: #f2f2f2;
    padding-bottom: 3px;
    padding-top: 3px
}

.newsbo ul li {
    float: left;
    line-height: 26px;
}

.newsbo ul li a {
    color: #6d6d6f;
    text-decoration: none
}

.newsbo ul li a:hover {
    color: #333;
    text-decoration: none
}

.newsbotitle {
    text-indent: 1em;
    width: 70%;
    float: left;
    background: url("../images/index_22.jpg") no-repeat 10px center;
    text-indent: 1.8em
}

.newsbotitle1 {
    text-indent: 1em;
    width: 90%;
    float: left;
    background: url("../images/index_23.jpg") no-repeat 10px center;
    text-indent: 2.8em
}

.newsbotime1 {
    width: 10%;
    text-align: right;
    float: left;
    font-size: 10px;
    color: #e98d2a
}

.ser {
    width: 760px;
    float: left;
}

.ser ul {
    border: 1px #E0E0E0 solid;
    height: 130px;
    margin-bottom: 8px
}

.ser ul li {
    float: left
}

.serpic {
    width: 120px;
    height: 120px;
    margin: 4px;
    display: inline;
    float: left
}

.serpic img {
    width: 120px;
    height: 120px
}

.sertitle {
    width: 600px;
    float: left;
    margin-left: 10px;
    display: inline
}


.zhong_zftop {
    width: 100%;
    height: 30px;
    position: relative;
    float: left;
    margin-bottom: 20px;
    border-bottom: 1px #e98d2a solid;
}

.menubgon {
    width: 150px;
    text-align: center;
    line-height: 28px;
    height: 28px;
    border: 1px #e98d2a solid;
    float: left;
    margin-right: 5px;
    z-index: 1000;
    cursor: pointer;
    color: #e98d2a;
    font-weight: bold;
    margin-top: 1px;
    border: 1px #e98d2a solid;
    border-bottom: 1px #f8f8f8 solid;
}

.menubgout {
    width: 150px;
    text-align: center;
    line-height: 28px;
    height: 28px;
    border: 1px #CCCCCC solid;
    border-bottom: 1px #e98d2a solid;
    float: left;
    margin-right: 5px;
    margin-top: 1px;
    cursor: pointer;
    color: #333333
}

.zhong_zfz {
    width: 100%;
    margin-top: 15px;
    text-align: left;
    color: #333
}

.suckerdiv {
    float: left;
    margin-top: 12px
}

.suckerdiv ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 220px;
    float: left;
  /* Width of Menu Items */
}

.suckerdiv ul li {
    position: relative;
}

/*1st level sub menu style */
.suckerdiv ul li ul {
    left: 220px;
 /* Parent menu width - 1*/
    position: absolute;
    width: 220px;
 /*sub menu width*/
    top: 0;
    display: none;
}

/*All subsequent sub menu levels offset */
.suckerdiv ul li ul li ul {
    left: 220px;
 /* Parent menu width - 1*/
}



/* menu links style */
.suckerdiv ul li a {
    display: block;
    height: 36px;
    background: url("../images/meunout.jpg") no-repeat;
    line-height: 36px;
    padding-left: 30px;
    width: 190px;
    height: 36px;
}

.suckerdiv ul li a:hover {
    background: url("../images/meunon.jpg") no-repeat;
    width: 190px;
    height: 36px;
    line-height: 36px;
    padding-left: 30px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}




/* Holly Hack for IE \*/
* html .suckerdiv ul li {
    float: left;
    height: 1%;
}

* html .suckerdiv ul li a {
    height: 1%;
}
/* End */



.job TABLE TH {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    BACKGROUND: url("../images/bg20.png") repeat-x;
    HEIGHT: 30px;
    COLOR: #898989;
    BORDER-TOP: #ddd 1px solid;
    BORDER-RIGHT: #ddd 1px solid
}

.job TABLE TD {
    BORDER-BOTTOM: #f2f2f2 1px solid;
    BORDER-LEFT: #f2f2f2 1px solid;
    HEIGHT: 30px;
    COLOR: #898989;
    BORDER-TOP: #f2f2f2 1px solid;
    BORDER-RIGHT: #f2f2f2 1px solid
}

.job TABLE TD.job_td_title {
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 0;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 0;
    CURSOR: pointer;
    PADDING-TOP: 0
}

.job TABLE TD.job_td_title IMG {
    MARGIN: 0 9px 0 0
}

.job TABLE TD.job_td_title1 A {
    DISPLAY: inline-block;
    COLOR: #5b9dca !important
}

.job TABLE TD.job_td_title1 A:hover {
    TEXT-DECORATION: underline
}

.job TABLE TD.job_td_title1 IMG {
    MARGIN: 0 7px 0 0
}

.job_txt {
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 15px;
    LINE-HEIGHT: 22px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 0;
    PADDING-TOP: 15px
}

.job_txt_tr {
    DISPLAY: none
}

.job_td_ico2 {
    DISPLAY: none
}
