{% extends 'base.html' %}
{% block title %}西安交通大学生物医学分析技术与仪器研究所{% endblock %}
{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{ category.cname }}</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-md-3">
						<ul class="nav nav-pills nav-stacked">
                            {% for label in category.labels %}
                            <li{% if label_active == label.name %} class="active"{% endif %}><a href="{{ url_for('post.index', category=category.name, label=label.name) }}">{{ label.cname }}</a></li>
                            {% endfor %}
						</ul>
					</div>
	    			<div class="col-md-9">
	    				<table class="events-list">
                            {% for post in posts %}
	    					<tr>
	    						<td>
	    							<div class="event-date">{{ post.create_date }}</div>
	    						</td>
	    						<td>
	    							<a href="{{ url_for('post.detail', id=post.id) }}">{{ post.title }}</a>
	    						</td>
	    						<!-- <td class="event-author hidden-xs"><i class="icon-map-marker"></i>{{ post.author }}</td> -->
	    					</tr>
                            {% endfor %}
	    				</table>
	    			</div>
	    		</div>
			</div>
		</div>
{% endblock %}