{% extends 'base.html' %}
{% block title %}西安交通大学生物医学分析技术与仪器研究所{% endblock %}
{% block content %}
    <div class="banner" style="margin-top:6px"><img src="{{ url_for('static', filename='images/ban6.jpg') }}" width="1002" height="122" /></div>

    <div class="aboutz">

        {% include 'left-sider.html' %}

        <div class="aboutrig">
            <div class="aboutrigdao">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="2%">
                            {% if label %}
                            <img src="{{ url_for('static', filename='images/li2.jpg') }}" width="11" height="11" />
                            {% endif %}
                        </td>
                        <td width="36%">
                            {% if label %}
                            <font class="wen4">{{ label.cname }}</font>
                            {% endif %}
                        </td>
                        <td width="62%" align="right">
                            <div align="right" class="wz004">
                                <img src="{{ url_for('static', filename='images/index_21.jpg') }}" /> 您的位置：<a href="{{ url_for('home.index') }}">首页</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" /><a href="{{ url_for('post.index', category=category.name) }}">{{ category.cname }}</a>
                                {% if label %}
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" />{{ label.cname }}
                                {% endif %}
                            </div>
                       </td>
                    </tr>
                </table>
            </div>
            <div class="left"><img src="{{ url_for('static', filename='images/rigxian.jpg') }}" /></div>
            <div class="aboutrignei">
                {% for post in posts %}
                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                        <td width="20%">
                            <a href="{{ url_for('post.detail', id=post.id) }}">
                                <img src="{{ post.thumbnail|d(url_for('static', filename='images/post_tb_default.png'), True) }}" width="135" height="88"  style=" padding:2px;border:1px #dfdfdf solid;">
                            </a>
                        </td>
                        <td width="80%" valign="top">
                            <p style="font-weight:bold; ">&emsp;&emsp;<a href="{{ url_for('post.detail', id=post.id) }}" style="color:#666666;">{{ post.title }}</a></p>
                            <p style="height:50px;">&emsp;&emsp;{{ post.content|striptags|truncate(length=120, killwords=True, end='…') }}</p>
                            <p style="float:right; margin-right:5px;"><a href="{{ url_for('post.detail', id=post.id) }}" style="color:#f47900;">[查看详情]</a></p>
                        </td>
                    </tr>
                </table>
                <p style="border-top:1px solid #dfdfdf; margin-top:15px; margin-bottom:15px;"></p>
                {% endfor %}

                <p align="center">

                    <style>
                        <!--
                        #dcms_pager .pages {border:none;text-transform:uppercase;font-size:12px;margin:10px 0 10px 0;padding:0;height:20px;clear:both;text-align:center;}
                        #dcms_pager .pages a {border:1px solid #ccc;text-decoration:none;margin:0 5px 0 0;padding:0 3px 0 3px;font-size:12px;height:16px;line-height:16px;}
                        #dcms_pager .pages a:hover {border:1px solid #aeaeae;}
                        #dcms_pager .pages .pgempty {border:1px solid #eee;color:#eee;}
                        #dcms_pager .pages .pgcurrent {border:1px solid #aeaeae;color:#000;font-weight:bold;background-color:#eee;}
                        -->
                    </style>

                    {% if pagination.pages < 2 %}
                    {% else %}
                        <div id="dcms_pager" align="center">
                            <div class=pages>
                                <a class=pgnext href="{{ url_for('post.index', category=active, label=label_active) }}">首页</a>
                                <a class="pgnext"{%- if pagination.has_prev %} href="{{ url_for('post.index', category=active, label=label_active, page=pagination.page-1) }}"{% endif -%}>上一页</a>
                                {% for page in pagination.iter_pages(2, 2, 2, 2) %}
                                {% if page %}
                                    <a{%- if page == pagination.page %} class="page-number pgcurrent"{%- endif %} href="{{ url_for('post.index', category=active, label=label_active, page=page) }}" >{{ page }}</a>
                                {% else %}
                                    ...
                                {% endif %}
                                {% endfor %}

                                <a class=pgnext{%- if pagination.has_next %} href="{{ url_for('post.index', category=active, label=label_active, page=pagination.page+1) }}"{% endif -%}>下一页</a>
                                <a class=pgnext href="{{ url_for('post.index', category=active, label=label_active, page=pagination.pages) }}">尾页</a>
                            </div>
                        </div>
                    {% endif %}

                </p>
            </div>
        </div>
        <div class="both"></div>
    </div>

{% endblock %}
