{% extends 'base.html' %}
{% block title %}西安交通大学生物医学分析技术与仪器研究所{% endblock %}
{% block content %}
	<div class="banner" style="margin-top:6px"><img src="{{ url_for('static', filename='images/ban6.jpg') }}" width="1002" height="122" /></div>

    <div class="aboutz">

        {% include 'post/left-sider.html' %}

        <div class="aboutrig">
            <div class="aboutrigdao">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="2%">
                            {% if label %}
                            <img src="{{ url_for('static', filename='images/li2.jpg') }}" width="11" height="11" />
                            {% endif %}
                        </td>
                        <td width="36%">
                            {% if label %}
                            <font class="wen4">{{ label.cname }}</font>
                            {% endif %}
                        </td>
                        <td width="62%" align="right">
                            <div align="right" class="wz004">
                                <img src="{{ url_for('static', filename='images/index_21.jpg') }}" /> 您的位置：<a href="{{ url_for('home.index') }}">首页</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" /><a href="{{ url_for('post.index', category=category.name) }}">{{ post.category.cname }}</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" /><a href="{{ url_for('post.index', category=category.name, label=post.label.name) }}">{{ post.label.cname }}</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" />详情
                            </div>
                       </td>
                    </tr>
                </table>
            </div>
            <div class="left"><img src="{{ url_for('static', filename='images/rigxian.jpg') }}" /></div>
            <div class="aboutrignei">
            	<h4 style="text-align: center; line-height:40px; color:#dd2d20; font-size:20px">{{ post.title }}</h4>
                <div style="text-align: center; color: #999;">
                    发布时间：{{ post.create_date.strftime('%Y-%m-%d %H:%M') }}&emsp;&emsp;
                    点击次数：{{ post.click_count }}
                </div>
            	<div>
            		{{ post.content|safe }}
            	</div>
        	</div>
    	</div>
    	<div class="both"></div>

{% endblock %}
