{% extends 'base.html' %}
{% block title %}西安交通大学生物医学分析技术与仪器研究所{% endblock %}
{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>成员组成</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<ul class="nav nav-pills nav-stacked">
							{% for job_title in job_titles %}
							<li{%if job_title_active == job_title.name %} class="active"{% endif %}><a href="{{ url_for('member.index', job_title=job_title.name) }}">{{ job_title.name }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-sm-9">
						{% for member in members %}
						<!-- Team Member -->
						<div class="col-sm-4">
							<div class="team-member">
								<!-- Team Member Photo -->
								<div class="team-member-image"><img src="../../static/img/team1.jpg" alt="{{ member.name }}"></div>
								<div class="team-member-info">
									<ul>
										<!-- Team Member Info & Social Links -->
										<li class="team-member-name"><a href="{{ url_for('member.detail', id=member.id) }}">{{ member.name }}</a></li>
										<li>{{ member.job_title.name }}</li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

{% endblock %}