{% extends 'base.html' %}
{% block title %}网站结构管理{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/zTree/css/metroStyle/metroStyle.css') }}" />
{% endblock %}
{% block script %}
    <script charset="utf-8" src="{{ url_for('static', filename='plugins/zTree/js/jquery.ztree.core-3.5.min.js') }}"></script>
    <script charset="utf-8" src="{{ url_for('static', filename='plugins/zTree/js/jquery.ztree.exedit-3.5.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="aboutz">

        {% include 'admin/left-sider.html' %}

        <div class="aboutrig">
            <div class="aboutrigdao">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="2%">
                            <img src="{{ url_for('static', filename='images/li2.jpg') }}" width="11" height="11" />
                        </td>
                        <td width="36%">
                            <font class="wen4">网站结构管理</font>
                        </td>
                        <td width="62%" align="right">
                            <div align="right" class="wz004">
                                <img src="{{ url_for('static', filename='images/index_21.jpg') }}" /> 您的位置：<a href="{{ url_for('home.index') }}">首页</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" /><a href="{{ url_for('admin.index') }}">管理中心</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" />网站结构管理
                            </div>
                       </td>
                    </tr>
                </table>
            </div>
            <div class="left"><img src="{{ url_for('static', filename='images/rigxian.jpg') }}" /></div>
            <div class="aboutrignei">
                <div class="zTreeBackground">
		            <ul id="category_tree" class="ztree"></ul>
	            </div>
                <div style="text-align: right">
                    <input id="save" type="button" value="保存" />&emsp;
                    <input id="cancel" type="button" value="取消" />
                </div>
            </div>
        </div>
        <div class="both"></div>
    </div>
    <script>
        var settings = {
            async: {
                enable: true,
                url: "{{ url_for('admin.get_category_ztree_json') }}",
                type: "get"
            },
            view: {
				addHoverDom: addHoverDom,
				removeHoverDom: removeHoverDom,
				selectedMulti: false
			},
            edit: {
                enable: true,
                drag: {
                    isMove: true,
                    prev: true,
                    next: true,
                    inner: false
                },
                editNameSelectAll: true
            },
            callback: {
                // beforeDrag: beforeDrag,
				onDrop: onDrop,
                onRename: onRename
			}
        };

        var newCount = 1;
        function addHoverDom(treeId, treeNode) {
			var sObj = $("#" + treeNode.tId + "_span");
            var btn = $("#addBtn_"+treeNode.tId);
            // if (treeNode.isParent == false) return;
            if (treeNode.level) return;
			if (treeNode.editNameFlag || btn.length>0) return;
			var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
				+ "' title='add node' onfocus='this.blur();'></span>";
			sObj.after(addStr);
			if (btn) btn.bind("click", function(){
				var zTree = $.fn.zTree.getZTreeObj("category_tree");
				zTree.addNodes(treeNode, {pId:treeNode.id, name:"未命名页面" + (newCount++)});
				return false;
			});
		}

        function removeHoverDom(treeId, treeNode) {
			$("#addBtn_"+treeNode.tId).unbind().remove();
		}

        function onRename(event, treeId, treeNode, isCancel) {
            //alert(JSON.stringify(treeNode));
            return true;
        }

        function onDrop(event, treeId, treeNodes, targetNode, moveType, isCopy) {
            //alert(JSON.stringify(treeNodes));
            //alert(JSON.stringify(targetNode));
			return targetNode ? targetNode.drop !== false : true;
		}


        $(document).ready(function(){
            var treeObj = $.fn.zTree.init($("#category_tree"), settings);
            $("#save").click(function () {
                // var simple_nodes = treeObj.transformToArray(treeObj.getNodes());
                var nodes = treeObj.transformTozTreeNodes(treeObj.getNodes());
                alert(JSON.stringify(nodes));
                $.ajax({
                    url: "{{ url_for('admin.post_category_ztree_json') }}",
                    data: JSON.stringify(nodes),
                    contentType : "application/json",
                    type : "POST",
                    success: function(data){
                        // alert("保存成功！");
                        location.reload();
                    }
                });
            });

            $("#cancel").click(function () {
                location.reload();
            })
        });

    </script>

{% endblock %}
