        <div class="aboutzleft">
            <div class="aboutzleftdao">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
                    <tr>
                        <td width="6%"><img src="{{ url_for('static', filename='images/li.jpg') }}" width="8" height="8" /></td>
                        <td width="94%">管理中心 <font class="wen3">Admin</font></td>
                    </tr>
                </table>
            </div>
            <div class="aboutzleftmeun">
                <ul>
                    <li><a href="{{ url_for('admin.category') }}">网站结构管理</a></li>
                    <li><a href="{{ url_for('admin.slider') }}">首页图片管理</a></li>
                    <li><a href="{{ url_for('admin.advertisement') }}">首页广告管理</a></li>
                    <li>
                        <a>文章内容管理</a>
                        <ul>
                            {% for category in categories %}
                            <li><a href="{{ url_for('admin.post', category=category.name) }}">{{ category.cname }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{{ url_for('admin.link') }}">友情链接管理</a></li>
                    <li><a href="{{ url_for('admin.show_backups') }}">备份数据管理</a></li>
                    {#
                    <li><a href="{{ url_for('admin.create_all') }}">网站内容重置</a></li>
                    #}
                    <li><a href="{{ url_for('admin.password') }}">管理密码修改</a></li>
                    <li><a href="{{ url_for('admin.logout') }}">退出登录</a></li>
                </ul>
            </div>
        </div>
        <!--left-->