{% extends 'base.html' %}
{% block title %}管理密码修改{% endblock %}
{% block content %}
    <div class="aboutz">

        {% include 'admin/left-sider.html' %}

        <div class="aboutrig">
            <div class="aboutrigdao">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="2%">
                            <img src="{{ url_for('static', filename='images/li2.jpg') }}" width="11" height="11" />
                        </td>
                        <td width="36%">
                            <font class="wen4">管理密码修改</font>
                        </td>
                        <td width="62%" align="right">
                            <div align="right" class="wz004">
                                <img src="{{ url_for('static', filename='images/index_21.jpg') }}" /> 您的位置：<a href="{{ url_for('home.index') }}">首页</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" /><a href="{{ url_for('admin.index') }}">管理中心</a>
                                {#
                                {% if label %}
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" />{{ label.cname }}
                                {% endif %}
                                #}
                            </div>
                       </td>
                    </tr>
                </table>
            </div>
            <div class="left"><img src="{{ url_for('static', filename='images/rigxian.jpg') }}" /></div>
            <div class="aboutrignei">

                <form action="{{ url_for('admin.password') }}" method="post">
                    <div class="form-group">
                        <label for="username"><i class="icon-user"></i> <b>用户名</b></label>
                        <input class="form-control" id="username" name="username" type="text" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="icon-lock"></i> <b>原密码</b></label>
                        <input class="form-control" id="old-password" name="old-password" type="password" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="icon-lock"></i> <b>新密码</b></label>
                        <input class="form-control" id="new-password" name="new-password" type="password" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="icon-lock"></i> <b>确认新密码</b></label>
                        <input class="form-control" id="confirm-password" name="confirm-password" type="password" placeholder="">
                    </div>
                    {% if message %}<p style="color: darkred;">{{ message }}</p>{% endif %}
                    <div class="form-group">
                        <input type="submit" class="btn pull-right" value="修改" />
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="both"></div>
    </div>
{% endblock %}