{% extends 'base.html' %}
{% block title %}文章内容管理{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/kindeditor/themes/default/default.css') }}" />
{% endblock %}
{% block script %}
    <script charset="utf-8" src="{{ url_for('static', filename='plugins/kindeditor/kindeditor-min.js') }}"></script>
    <script charset="utf-8" src="{{ url_for('static', filename='plugins/kindeditor/lang/zh_CN.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="aboutz">

        {% include 'admin/left-sider.html' %}

        <div class="aboutrig">
            <div class="aboutrigdao">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="2%">
                            <img src="{{ url_for('static', filename='images/li2.jpg') }}" width="11" height="11" />
                        </td>
                        <td width="36%">
                            <font class="wen4">文章内容管理</font>
                        </td>

                        <td width="62%" align="right">
                            <div align="right" class="wz004">
                                <img src="{{ url_for('static', filename='images/index_21.jpg') }}" /> 您的位置：<a href="{{ url_for('home.index') }}">首页</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" /><a href="{{ url_for('admin.index') }}">管理中心</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" />文章内容管理
                            </div>
                       </td>
                    </tr>
                </table>
            </div>
            <div class="left"><img src="{{ url_for('static', filename='images/rigxian.jpg') }}" /></div>
            <div class="aboutrignei">
                <style>
                    .input-title {
                        margin: 0;
                        padding: 0;
                        font-size: 20px;
                        font-weight: bold;
                        width: 758px;
                    }
                </style>
                <form action="{{ url_for('admin.edit_post', id=post.id) }}" method="post">
                    <input class="input-title" type="text" name="title" value="{{ post.title }}" style="text-align: center" />
                    <hr />
                    <div style="text-align: right;">
                    <label for="category">一级目录</label>
                    <select id="category-select" name="category_id">
                        {% for category in categories %}
                        <option value="{{ category.id }}"{%- if post.category_id == category.id %} selected="selected"{% endif -%}>{{ category.cname }}</option>
                        {% endfor %}
                    </select>
                    &nbsp;|&nbsp;
                    <label for="label">二级目录</label>
                    <select id="label-select" name="label_id">
                        {% for label in category_labels %}
                        <option value="{{ label.id }}"{%- if post.label_id == label.id %} selected="selected"{% endif -%}>{{ label.cname }}</option>
                        {% endfor %}
                    </select>
                    &nbsp;|&nbsp;
                    <label for="status">状态</label>
                    <select name="status">
                        <option value="公开"{%- if post.status == '公开' %} selected="selected"{% endif -%}>公开</option>
                        <option value="不公开"{%- if post.status == '不公开' %} selected="selected"{% endif -%}>不公开</option>
                    </select>
                    </div>
                    <hr />
                    <textarea name="content" style="width:100%;height:400px;visibility:hidden;">{{ post.content }}</textarea>
                    <div>
                        <span>创建时间：{{ post.create_date.strftime('%Y-%m-%d %H:%M') }}</span>&emsp;|&emsp;
                        <span>更新时间：{{ post.update_date.strftime('%Y-%m-%d %H:%M') }}</span>
                    </div>
                    <div style="text-align: right;">
                        <input type="submit" value="保存" />&emsp;
                        <input type="button" value="取消" />
                    </div>
                </form>
            </div>
        </div>
        <div class="both"></div>
    </div>

<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            allowFileManager : true,
            uploadJson: '{{ url_for('admin.upload') }}',
            fileManagerJson: 'file_manager/'
        });
        K('input[name=getHtml]').click(function(e) {
            alert(editor.html());
        });
        K('input[name=isEmpty]').click(function(e) {
            alert(editor.isEmpty());
        });
        K('input[name=getText]').click(function(e) {
            alert(editor.text());
        });
        K('input[name=selectedHtml]').click(function(e) {
            alert(editor.selectedHtml());
        });
        K('input[name=setHtml]').click(function(e) {
            editor.html('<h3>Hello KindEditor</h3>');
        });
        K('input[name=setText]').click(function(e) {
            editor.text('<h3>Hello KindEditor</h3>');
        });
        K('input[name=insertHtml]').click(function(e) {
            editor.insertHtml('<strong>插入HTML</strong>');
        });
        K('input[name=appendHtml]').click(function(e) {
            editor.appendHtml('<strong>添加HTML</strong>');
        });
        K('input[name=clear]').click(function(e) {
            editor.html('');
        });
    });

    $(document).ready(function() {
        $("#category-select").change(function() {
            $.get("{{ url_for('admin.get_label_json') }}", {category_id: $(this).val()}, function(data) {
                // alert(JSON.stringify(data));
                var label_select = $("#label-select");
                label_select.empty();
                for (var i in data["labels"]) {
                    var id = data["labels"][i]["id"];
                    var name = data["labels"][i]["name"];
                    var cname = data["labels"][i]["cname"];
                    label_select.append('<option value='+id+'>'+cname+'</option>');
                }

            });
        });
    });
</script>
{% endblock %}