{% extends 'base.html' %}
{% block title %}管理中心{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/kindeditor/themes/default/default.css') }}" />
{% endblock %}
{% block script %}
    <script charset="utf-8" src="{{ url_for('static', filename='plugins/kindeditor/kindeditor-min.js') }}"></script>
    <script charset="utf-8" src="{{ url_for('static', filename='plugins/kindeditor/lang/zh_CN.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="aboutz">
        <div class="aboutzleft">
            <div class="aboutzleftdao">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
                    <tr>
                        <td width="6%"><img src="{{ url_for('static', filename='images/li.jpg') }}" width="8" height="8" /></td>
                        <td width="94%">管理中心 <font class="wen3">Admin</font></td>
                    </tr>
                </table>
            </div>
            <div class="aboutzleftmeun">
                <ul>
                    <li><a>导航栏管理</a></li>
                    <li><a>首页幻灯片管理</a></li>
                    <li><a href="{{ url_for('admin.post') }}">文章管理</a></li>
                </ul>
            </div>
        </div>
        <!--left-->
        <div class="aboutrig">
            <div class="aboutrigdao">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        {#
                        <td width="2%">
                            {% if label %}
                            <img src="{{ url_for('static', filename='images/li2.jpg') }}" width="11" height="11" />
                            {% endif %}
                        </td>
                        <td width="36%">
                            {% if label %}
                            <font class="wen4">{{ label.cname }}</font>
                            {% endif %}
                        </td>
                        #}
                        <td width="62%" align="right">
                            <div align="right" class="wz004">
                                <img src="{{ url_for('static', filename='images/index_21.jpg') }}" /> 您的位置：<a href="{{ url_for('home.index') }}">首页</a>
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" /><a href="{{ url_for('admin.index') }}">管理中心</a>
                                {#
                                {% if label %}
                                <img src="{{ url_for('static', filename='images/jiao.gif') }}" />{{ label.cname }}
                                {% endif %}
                                #}
                            </div>
                       </td>
                    </tr>
                </table>
            </div>
            <div class="left"><img src="{{ url_for('static', filename='images/rigxian.jpg') }}" /></div>
            <div class="aboutrignei">
                <form>
                    <textarea name="content" style="width:100%;height:400px;visibility:hidden;"></textarea>
                    
                    <div style="margin: 8px 0 8px 0;">
                        <input type="button" value="保存" />&emsp;
                        <input type="button" value="返回" />
                    </div>
                </form>
            </div>
        </div>
        <div class="both"></div>
    </div>

<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            allowFileManager : true,
            uploadJson: 'upload/',
            fileManagerJson: 'file_manager/'
        });
        K('input[name=getHtml]').click(function(e) {
            alert(editor.html());
        });
        K('input[name=isEmpty]').click(function(e) {
            alert(editor.isEmpty());
        });
        K('input[name=getText]').click(function(e) {
            alert(editor.text());
        });
        K('input[name=selectedHtml]').click(function(e) {
            alert(editor.selectedHtml());
        });
        K('input[name=setHtml]').click(function(e) {
            editor.html('<h3>Hello KindEditor</h3>');
        });
        K('input[name=setText]').click(function(e) {
            editor.text('<h3>Hello KindEditor</h3>');
        });
        K('input[name=insertHtml]').click(function(e) {
            editor.insertHtml('<strong>插入HTML</strong>');
        });
        K('input[name=appendHtml]').click(function(e) {
            editor.appendHtml('<strong>添加HTML</strong>');
        });
        K('input[name=clear]').click(function(e) {
            editor.html('');
        });
    });
</script>
{% endblock %}