<!DOCTYPE html>
<html>
<head>
    <title>西安交通大学 生物医学分析技术与仪器研究所</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='py.png') }}">

    <link href="../../static/semantic-ui/semantic.css" rel="stylesheet" type="text/css">
</head>
<body>
    

    <div class="ui page centered grid">

        <div class="ui centered large leaderboard test ad" data-text="Large Leaderboard"></div>

        <div class="row">
            <div class="ui inverted menu">
                <a class="active item">首页</a>
                <a class="item">新闻</a>
                <a class="item">通知公告</a>
                <a class="item">学术报告</a>
                <a class="item">研究方向</a>
                <a class="item">成员组成</a>

                <div class="ui dropdown item">研究成果<i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item">承担项目</a>
                        <a class="item">文章</a>
                        <a class="item">专利</a>
                    </div>
                </div>

                <a class="item">国际合作</a>
                <a class="item">教学工作</a>
                <a class="item">相关链接</a>
                <a class="item">联系我们</a>

            </div>
        </div>

        <div class="six wide column">
            <div class="ui raised segment">
                
                <h5>中心简介</h5>
                <p>生物医学分析技术及仪器研究所是根据国家十一五发展规划和生命科学与技术学院整体发展需要，通过学院整合于2007年6月15日成立。目标是充分发挥学科交叉的作用，在生物医学分析技术与仪器的基础理论研究、应用研究、人才培养、促进相应技术转化为生产力等方面取得显著进展。该所现有教职工12人，其中教授5人，副教授3 人和高级工程师1人，讲师3位。目前承担和完成了国家自然科学基金近30项（包括重点项目、国际合作）、国家科技部863项目、国家重大科学仪器设备开发项目、陕西省自然科学基金项目、西安市科技攻关项目、横向课题数十项等。目前的研究方向有生物医学光子学影像与光谱分析技术、基于多信息融合的生物荧光探针和光学传感器、先进敏感分析技术及仪器等。目前研究的重点项目包括有：基于多光谱荧光成像的在体三维光学标测系统、基于新型光穿孔技术的纳米尺度细胞膜微手术研究、金纳米棒靶向的激光细胞微手术及其机理研究、纳米材料的界观和微观效应及机理、基于纳米金探针的肿瘤细胞示踪等研究。研究所现有博士和硕士研究生80多名。</p>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui segment">
                <a class="ui right ribbon label">Label</a>
                <p></p>
                <a class="ui teal right ribbon label">Label</a>
                <p></p>
            </div>
        </div>
        <div class="four wide column"></div>

        <hr />

        <div class="row">
            <div class="ui horizontal divided link list">
              <a class="item">Link1</a>
              <a class="item">Link2</a>
              <a class="item">Link3</a>
              <a class="item">Link4</a>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui center aligned basic segment">
                <p>&copy; 2015 ibati.xjtu.edu.cn, all rights reserved</p>
            </div>
            
        </div>
      
    </div>

        

</div>


<script src="../../static/jquery/jquery.js"></script>
<script src="../../static/semantic-ui/semantic.js"></script>

<!--[if lt IE 9]>
<script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->

<script>
    $('.ui.dropdown').dropdown();
</script>

</body>
</html>