<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>西安交通大学生物医学分析技术与仪器研究所</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="../../static/css/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="../../static/css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="../../static/css/main.css">

        <script src="../../static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
	        	<div class="menuextras">
					<div class="extras">
						<ul>
							<li class="shopping-cart-items"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> <a href="page-shopping-cart.html"><b>3 items</b></a></li>
							<li>
								<div class="dropdown choose-country">
									<a class="#" data-toggle="dropdown" href="#"><img src="../../static/img/flags/gb.png" alt="Great Britain"> UK</a>
									<ul class="dropdown-menu" role="menu">
										<li role="menuitem"><a href="#"><img src="../../static/img/flags/us.png" alt="United States"> US</a></li>
										<li role="menuitem"><a href="#"><img src="../../static/img/flags/de.png" alt="Germany"> DE</a></li>
										<li role="menuitem"><a href="#"><img src="../../static/img/flags/es.png" alt="Spain"> ES</a></li>
									</ul>
								</div>
							</li>
			        		<li><a href="page-login.html">管理员入口</a></li>
			        	</ul>
					</div>
		        </div>
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="index.html"><img src="../../static/img/mPurpose-logo.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>
						<li>
							<a href="index.html">首页</a>
						</li>
						<li>
                            <a href="page-team.html">成员组成</a>
                        </li>
                        <li>
                            <a href="features.html">相关链接</a>
                        </li>
                        <li>
                            <a href="page-contact-us.html">联系我们</a>
                        </li>
						<li class="has-submenu">
							<a href="#">Pages +</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner"> 
									<div>
										<h4>Homepage</h4>
										<ul>
											<li><a href="index.html">Homepage (Sample 1)</a></li>
											<li><a href="page-homepage-sample.html">Homepage (Sample 2)</a></li>
										</ul>
										<h4>Services & Pricing</h4>
										<ul>
											<li><a href="page-services-1-column.html">Services/Features (Rows)</a></li>
											<li><a href="page-services-3-columns.html">Services/Features (3 Columns)</a></li>
											<li><a href="page-services-4-columns.html">Services/Features (4 Columns)</a></li>
											<li><a href="page-pricing.html">Pricing Table</a></li>
										</ul>
										<h4>Team & Open Vacancies</h4>
										<ul>
											<li><a href="page-team.html">Our Team</a></li>
											<li><a href="page-vacancies.html">Open Vacancies (List)</a></li>
											<li><a href="page-job-details.html">Open Vacancies (Job Details)</a></li>
										</ul>
									</div>
									<div>
										<h4>Our Work (Portfolio)</h4>
										<ul>
											<li><a href="page-portfolio-2-columns-1.html">Portfolio (2 Columns, Option 1)</a></li>
											<li><a href="page-portfolio-2-columns-2.html">Portfolio (2 Columns, Option 2)</a></li>
											<li><a href="page-portfolio-3-columns-1.html">Portfolio (3 Columns, Option 1)</a></li>
											<li><a href="page-portfolio-3-columns-2.html">Portfolio (3 Columns, Option 2)</a></li>
											<li><a href="page-portfolio-item.html">Portfolio Item (Project) Description</a></li>
										</ul>
										<h4>General Pages</h4>
										<ul>
											<li><a href="page-about-us.html">About Us</a></li>
											<li><a href="page-contact-us.html">Contact Us</a></li>
											<li><a href="page-faq.html">Frequently Asked Questions</a></li>
											<li><a href="page-testimonials-clients.html">Testimonials & Clients</a></li>
											<li><a href="page-events.html">Events</a></li>
											<li><a href="page-404.html">404 Page</a></li>
											<li><a href="page-sitemap.html">Sitemap</a></li>
											<li><a href="page-login.html">Login</a></li>
											<li><a href="page-register.html">Register</a></li>
											<li><a href="page-password-reset.html">Password Reset</a></li>
											<li><a href="page-terms-privacy.html">Terms & Privacy</a></li>
											<li><a href="page-coming-soon.html">Coming Soon</a></li>
										</ul>
									</div>
									<div>
										<h4>eShop</h4>
										<ul>
											<li><a href="page-products-3-columns.html">Products listing (3 Columns)</a></li>
											<li><a href="page-products-4-columns.html">Products listing (4 Columns)</a></li>
											<li><a href="page-products-slider.html">Products Slider</a></li>
											<li><a href="page-product-details.html">Product Details</a></li>
											<li><a href="page-shopping-cart.html">Shopping Cart</a></li>
										</ul>
										<h4>Blog</h4>
										<ul>
											<li><a href="page-blog-posts.html">Blog Posts (List)</a></li>
											<li><a href="page-blog-post-right-sidebar.html">Blog Single Post (Right Sidebar)</a></li>
											<li><a href="page-blog-post-left-sidebar.html">Blog Single Post (Left Sidebar)</a></li>
											<li><a href="page-news.html">Latest & Featured News</a></li>
										</ul>
									</div>
								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
						<li>
							<a href="credits.html">Credits</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>新闻</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Sidebar -->
					<div class="col-sm-3 blog-sidebar">
						<form>
							<div class="input-group">
								<input class="form-control input-md" id="appendedInputButtons" type="text">
								<span class="input-group-btn">
									<button class="btn btn-md" type="button">搜索</button>
								</span>
							</div>
						</form>
						<hr />
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="#">简讯</a></li>
							<li><a href="#">最新动态</a></li>
							<li><a href="#">客座教授</a></li>
							<li><a href="#">通知公告</a></li>
							<li><a href="#">科学抢鲜看</a></li>
						</ul>
					</div>
					<!-- End Sidebar -->
					<div class="col-sm-9">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h3>赵昕博士来我中心访问并做相关报告</h3>
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>2015-05-12&emsp;
								<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
							</div>
							<div class="single-post-image">
								<img src="../../static/img/blog-large.jpg" alt="Post Title">
							</div>
							<div class="single-post-content">
								<p>
									应仿生工程与生物力学中心邀请，哈佛大学博士后赵昕博士来我中心做访问交流，并于2015年5月12日上午在生命学院308报告厅作了名为“基于生物材料的转化医学研究”的学术报告。报告内容基于生物材料的转化医学研究，即研究材料、细胞与药物之间的相互作用，去满足不同的临床需求。本次报告主要涉及了四个基于生物材料的转化医学研究，包括可注射复合材料骨水泥、可光交联皮肤修复水凝胶、电纺纤维防肌腱粘连膜和长药释放载体用于肿瘤治疗。报告紧贴中心人员科研课题内容，赵昕博士的讲述生动形象，会场学术氛围浓郁。最后赵昕博士耐心回答了大家的提问，并给出自己的建议。
								</p>
								<img src="../../static/img/blog-large.jpg" alt="Post Title" />
								<p>
									赵昕，博士，现在美国哈佛大学从事博士后研究工作。2010年，毕业于英国伦敦大学大学学院生物材料与组织工程专业，获博士学位。长期致力于生物材料与组织工程，药物释放等交叉学科的研究工作。在博士和博士后期间独立主持“可注射可降解复合材料骨水泥构建及其药物和基因释放的研究”(该项目2007年获英国工程与自然科学研究学会(EPSRC)42万英镑资助)；作为重要参与人协助导师申请并完成2项科研项目，分别为“可活体携载细胞的可注射光交联水凝胶组织工程支架构建及其人工皮肤构建研究以及水凝胶基软体纳米纤维合成和三维组织支架构建及皮肤修复研究”(该项目2012年获美国创新研究协会(EFRI)200万美金资助）和“微流控技术构建携载干细胞的水凝胶微球及体内体外诱导干细胞分化”(该项目2014年获美国国家科学基金NSF）1000万美金资助)。赵昕博士已在Biomaterials,Small,Acta Biomateria,Journal of Material Chemistry B, Advanced Healthcare Material,Materials Today等国际知名学术期刊发表SCI收录学术论文20余篇，其中第一作者发表15篇（影响因子总和75），另有已投稿论文6篇（其中第一作者5篇）；著有英文专著章节5部。本人多次参加国际重大学术会议并做口头报告，长期担任Acta Biomateria等知名学术期刊审稿人。
								</p>
							</div>
							<!-- Comments -->
							<div class="post-coments">
								<h4>Comments (53)</h4>
								<ul class="post-comments">
									<li>
										<div class="comment-wrapper">
											<div class="comment-author"><img src="../../static/img/user1.jpg" alt="User Name"> User Name</div>
											<p>
												Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat massa ornare vitae. Ut fermentum justo vel venenatis eleifend. Fusce id magna eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.
											</p>
											<!-- Comment Controls -->
											<div class="comment-actions">
												<span class="comment-date">June 10th, 2013 3:16 pm</span>
												<a href="#" data-toggle="tooltip" data-original-title="Vote Up" class="show-tooltip"><i class="glyphicon glyphicon-thumbs-up"></i></a>
												<a href="#" data-toggle="tooltip" data-original-title="Vote Down" class="show-tooltip"><i class="glyphicon glyphicon-thumbs-down"></i></a>
												<span class="label label-success">+8</span>
												<a href="#" class="btn btn-micro btn-grey comment-reply-btn"><i class="glyphicon glyphicon-share-alt"></i> Reply</a>
											</div>
										</div>
									</li>
									<li>
										<ul>
											<li>
												<div class="comment-wrapper">
													<div class="comment-author"><img src="../../static/img/user2.jpg" alt="User Name"> User Name</div>
													<p>
														Vivamus euismod elit ac libero facilisis tristique. Duis mollis non ligula vel tincidunt. Nulla consectetur libero id nunc ornare, vel vulputate tellus mollis. Sed quis nulla magna.
													</p>
													<!-- Comment Controls -->
													<div class="comment-actions">
														<span class="comment-date">June 10th, 2013 3:16 pm</span>
														<a href="#" data-toggle="tooltip" data-original-title="Vote Up" class="show-tooltip"><i class="glyphicon glyphicon-thumbs-up"></i></a>
														<a href="#" data-toggle="tooltip" data-original-title="Vote Down" class="show-tooltip"><i class="glyphicon glyphicon-thumbs-down"></i></a>
														<span class="label label-danger">-2</span>
														<a href="#" class="btn btn-micro btn-grey comment-reply-btn"><i class="glyphicon glyphicon-share-alt"></i> Reply</a>
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li>
										<div class="comment-wrapper">
											<div class="comment-author"><img src="../../static/img/user5.jpg" alt="User Name"> User Name</div>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel magna lectus.
											</p>
											<!-- Comment Controls -->
											<div class="comment-actions">
												<span class="comment-date">June 10th, 2013 3:16 pm</span>
												<a href="#" data-toggle="tooltip" data-original-title="Vote Up" class="show-tooltip"><i class="glyphicon glyphicon-thumbs-up"></i></a>
												<a href="#" data-toggle="tooltip" data-original-title="Vote Down" class="show-tooltip"><i class="glyphicon glyphicon-thumbs-down"></i></a>
												<span class="label label-success">+8</span>
												<a href="#" class="btn btn-micro btn-grey comment-reply-btn"><i class="glyphicon glyphicon-share-alt"></i> Reply</a>
											</div>
										</div>
									</li>
								</ul>
								<!-- Pagination -->
								<div class="pagination-wrapper ">
									<ul class="pagination pagination-sm">
										<li class="disabled"><a href="#">Previous</a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#">Next</a></li>
									</ul>
								</div>
								<!-- Comments Form -->
								<h4>Leave a Comment</h4>
								<div class="comment-form-wrapper">
									<form class="">
				        				<div class="form-group">
				        				 	<label for="comment-name"><i class="glyphicon glyphicon-user"></i> <b>Your name</b></label>
											<input class="form-control" id="comment-name" type="text" placeholder="">
										</div>
										<div class="form-group">
											<label for="comment-email"><i class="glyphicon glyphicon-envelope"></i> <b>Your Email</b></label>
											<input class="form-control" id="comment-email" type="text" placeholder="">
										</div>
										<div class="form-group">
											<label for="comment-message"><i class="glyphicon glyphicon-comment"></i> <b>Your Message</b></label>
											<textarea class="form-control" rows="5" id="comment-message"></textarea>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-large pull-right">Send</button>
										</div>
										<div class="clearfix"></div>
				        			</form>
								</div>
								<!-- End Comment Form -->
							</div>
							<!-- End Comments -->
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Our Latest Work</h3>
		    			<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="../../static/img/portfolio6.jpg" alt="Project Name"></a>
							</div>
						</div>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Navigate</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="page-blog-posts.html">Blog</a></li>
		    				<li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>
		    				<li><a href="page-products-3-columns.html">eShop</a></li>
		    				<li><a href="page-services-3-columns.html">Services</a></li>
		    				<li><a href="page-pricing.html">Pricing</a></li>
		    				<li><a href="page-faq.html">FAQ</a></li>
		    			</ul>
		    		</div>
		    		
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>联系方式</h3>
                        <p class="contact-us-details">
                            <b>地址：</b>陕西省西安市咸宁西路28号<br/>
                            <b>电话：</b>+86 0000000000<br/>
                            <b>邮箱：</b><a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
                        </p>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Stay Connected</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
                        <div class="footer-copyright">&copy; 2015 Institute of Biomedical Analytical Technology and Instrumentation. All rights reserved.</div>
                    </div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        <script src="../../static/js/jquery-1.9.1.min.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="../../static/js/jquery.fitvids.js"></script>
        <script src="../../static/js/jquery.sequence-min.js"></script>
        <script src="../../static/js/jquery.bxslider.js"></script>
        <script src="../../static/js/main-menu.js"></script>
        <script src="../../static/js/template.js"></script>

    </body>
</html>