{% extends 'base.html' %}
{% block title %}西安交通大学生物医学分析技术与仪器研究所{% endblock %}
{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>页面未找到</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="error-page-wrapper">
							<p>对不起，您访问的内容不在这儿……</p>
							<p>返回<a href="index.html">主页</a>继续看看？</p>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}