{% extends 'base.html' %}
{% block title %}西安交通大学生物医学分析技术与仪器研究所{% endblock %}
{% block content %}
		<div class="banner" style="margin-top:6px"><img src="{{ url_for('static', filename='images/ban5.jpg') }}" width="1002" height="122" /></div>

        <div class="aboutz">
            <div class="aboutzleft">
                <div class="aboutzleftdao">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
                        <tr>
                            <td width="6%"><img src="{{ url_for('static', filename='images/li.jpg') }}" width="8" height="8" /></td>
                            <td width="94%">联系我们<font class="wen3">Contact us</font></td>
                        </tr>
                    </table>
                </div>
                <div class="aboutzleftmeun">
                    <ul>

                    </ul>
                </div>
            </div>
            <!--left-->
            <div class="aboutrig">
                <div class="aboutrigdao">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            {#
                            <td width="2%">
                                <img src="{{ url_for('static', filename='images/li2.jpg') }}" width="11" height="11" />
                            </td>
                            <td width="36%">
                                <font class="wen4">单位简介</font>
                            </td>
                            #}

                            <td width="62%" align="right">
                                <div align="right" class="wz004">
                                    <img src="{{ url_for('static', filename='images/index_21.jpg') }}" /> 您的位置：<a href="{{ url_for('home.index') }}">首页</a>
                                    <img src="{{ url_for('static', filename='images/jiao.gif') }}" /><a href="">联系我们</a>
								</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="left"><img src="{{ url_for('static', filename='images/rigxian.jpg') }}" /></div>
                <div class="aboutrignei">
					<div class="post-content">
                        {{ post.content|safe }}
                    </div>
                </div>
            </div>
            <div class="both"></div>
        </div>
{% endblock %}
