        <div class="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" height="98">
                <tr>
                    <td><a href="{{ url_for('home.index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="西安交通大学生物医学分析技术与仪器研究所" /></a></td>
                    <td align="center"><img src="{{ url_for('static', filename='images/ibati_logo.png') }}" /></td>
                </tr>
            </table>
        </div>


        <div class="menu">
            <div class="menu1">
                <div id="nav">
                    <ul>

                        <li{% if active == 'index' %} class="active"{% endif %}>
                            <a href="{{ url_for('home.index') }}">首页</a>
                        </li>
                        {#
                        <li{% if active == 'about-us' %} class="active"{% endif %}>
                            <a href="{{ url_for('home.about_us') }}">单位简介</a>
                        </li>
                        #}
                        {% for category in categories %}
                        <li{% if active == category.name %} class="active"{% endif %}>
                            <a href="{{ url_for('post.index', category=category.name) }}">{{ category.cname }}</a>
                            <ul>
                                {% for label in category.labels %}
                                <li><a href="{{ url_for('post.index', category=category.name, label=label.name) }}">{{ label.cname }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        <div class="toplan" style="height:14px"></div>
