{% extends 'base.html' %}
{% block title %}西安交通大学生物医学分析技术与仪器研究所{% endblock %}
{% block content %}
        <div class="banner">
            <!-- indexCon start -->
            <div class="indexCon fl">
                <div class="flashBanner">
                    <img class="bigImg" width="1002" height="339" />
                    <div class="mask">
                        {% for slider in sliders %}
                        <img src="{{ url_for('static', filename=slider.image) }}" uri="{{ url_for('static', filename=slider.image) }}" link="#"  width="60" height="22" style="border:2px #CCCCCC solid;" />
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- indexCon end -->
        </div>


        <div class="zhongxia">
            <div class="zhongxialeft">
                <div class="zhongxialeftdao">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="6%"><img src="{{ url_for('static', filename='images/li.jpg') }}" width="8" height="8" /></td>
                            <td width="78%"><img src="{{ url_for('static', filename='images/title_intro.png') }}" width="63" height="14" /></td>
                            <td width="16%" align="right">&nbsp;<a href="{{ url_for('home.about_us') }}"><img src="{{ url_for('static', filename='images/more.jpg') }}" width="34" height="11" /></a></td>
                        </tr>
                    </table>
                </div>
                <div class="zxnei">

                    <p>&emsp;&emsp;生物医学分析技术及仪器研究所是根据国家十一五发展规划和生命科学与技术学院整体发展需要，通过学院整合于2007年6月15日成立。
                        目标是充分发挥学科交叉的作用，在生物医学分析技术与仪器的基础理论研究、应用研究、人才培养、促进相应技术转化为生产力等方面取得显著进展。
                        该所现有教职工12人，其中教授5人，副教授3 人和高级工程师1人，讲师3位。目前承担和完成了国家……
                    </p>

                </div>
            </div>

            <!--left-->
            <div class="z_z">
                <div class="z_zdao">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
                        <tr>
                            <td width="4%"><img src="{{ url_for('static', filename='images/li.jpg') }}" width="8" height="8" /></td>
                            <td width="80%"><img src="{{ url_for('static', filename='images/title_news.png') }}" width="63" height="14" /></td>
                            <td width="16%" align="right"><a href="{{ url_for('post.index', category='news') }}"><img src="{{ url_for('static', filename='images/more.jpg') }}" width="34" height="11" /></a></td>
                        </tr>
                    </table>
                </div>
                <div class="z_zimg"><img src="{{ url_for('static', filename='images/newb.jpg') }}" /></div>
                <div class="z_znews">
                    <ul>
                        {% for n in news %}
                        <li>
                            <font class="tim">【{{ n.create_date.strftime('%Y-%m-%d') }}】</font>&emsp;
                            <a href="{{ url_for('post.detail', id=n.id) }}">
                                <font class="tim1">{{ n.title|truncate(length=20, killwords=True, end='…') }}</font>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!--z-->
            <div class="z_rig">
                <div class="z_rigdao">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
                        <tr>
                          <td width="6%"><img src="{{ url_for('static', filename='images/li.jpg') }}" width="8" height="8" /></td>
                          <td width="78%"><img src="{{ url_for('static', filename='images/title_research.png') }}" width="63" height="14" /></td>
                          <td width="16%" align="right"><a href="{{ url_for('post.index', category='research', label='area') }}"><img src="{{ url_for('static', filename='images/more.jpg') }}" width="34" height="11" /></a></td>
                        </tr>
                    </table>
                </div>
                <div class="z_rigimg"><img src="{{ url_for('static', filename='images/serb.jpg') }}" /></div>
                <div class="z_rignei">
                    {#
                    <Ul>
                        <li><a href="leixing.aspx"><img src="{{ url_for('static', filename='images/s1.jpg') }}" /></a></li>
                        <li><a href="fuwu.aspx"><img src="{{ url_for('static', filename='images/s2.jpg') }}" /></a></li>
                        <li><a href="down.aspx"><img src="{{ url_for('static', filename='images/s3.jpg') }}" /></a></li>
                        <li><a href="problem.aspx"><img src="{{ url_for('static', filename='images/s4.jpg') }}" /></a></li>
                    </Ul>
                    #}
                </div>

            </div>
            <!--rig-->
            <div class="both"></div>
        </div>
        <!--end-->

{% endblock %}